.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header {
  position: relative;
  z-index: 10;
  height: 4.8rem;
  margin: 0;
  padding: 0;
}
.header-fixed{
  background-color: rgb(255, 221, 0);
  position: fixed;
  width: 100% !important;
  z-index: 1000;
}

.containerlo{
  display: flex;
  justify-content: space-between;
}

.wpm{
  margin: 0 1rem;
}
.checkout{
  margin: 0 2rem;
  height: 2rem;
  width: 4rem !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 990px) {
  .header {
    position: relative;
    z-index: 10;
    height: 7rem;
    margin: 0;
    padding: 0;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
